<div class="footer-social-links">
  <a href="https://id.linkedin.com/in/dannyarw" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="https://github.com/dannyarw/" title="GitHub Repositories" target="_blank"><i class="fa fa-github-alt"></i></a>
  <a href="https://www.facebook.com/danny.ariwicaksono" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/dannyarw" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
  <a href="https://instagram.com/dannyarw/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
</div>